<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oxygen+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Weather App</title>
  </head>
  <body>
    <main>
      <!-- search bar and city name -->
      <section class="container">
        <div class="row">
      
          <h1 class="col d-flex justify-content-center align-items-center">
            Weather App
          </h1>
        </div>
      </section>

      <!-- temp and day info -->
      <section class="current-weather">
        <div class="container">
          <div class="row">
            <h1 class="col temp-title" id="current-temperature">4°</h1>
            <div class="col todays-info">
              <p id="current-time">
                <script>
                            window.onload = function() {
                    updateTime();
                };
                </script>
              </p>
              <h2 id="day"></h2>
              <p id="weather-type">Cloudy</p>
            </div>
          </div>
        </div>
  
      </section>

      <footer>
        
      </footer>
    </main>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
