body {
  max-width: 900px;
  margin: 0 auto;
  background-color: #eae6e2;
  color: #444e54;
}

main {
  margin-top: 30px;
}

.current-weather {
  margin-top: 50px;
}

.temp-title {
  /* color: #37718e; */
  font-size: 140px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.todays-info {
  margin: 15px 0;
}

p {
  font-family: "Oxygen Mono", monospace;
  font-size: 15px;
}

.weather {
  margin-top: 2px;
  margin-bottom: 6px;
  font-size: 14px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 22px;
  margin-bottom: -18px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

td,
th {
  border: 1px solid #363636;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  margin-top: 20px;
}

.temp-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.todays-info {
  text-align: center;
  margin-top: 20px;
}

.weather-icon {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}